@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.book-picture-container {
    height: 25rem !important;
    width: 22rem !important; 
    background: linear-gradient(180deg, #eaeee7 70%, #ffffff 30%);
}

.book-picture { 
    height: 20rem;  
}

.book-title {
    padding-right: 3rem;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Source Serif 4', serif;
}

.book-author-name-container {
    display: flex;
}

.book-author-name, .share-text { 
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}


@media (max-width:1400px) {

    .book-title {
        font-size: 27px !important;
    }
}

@media (max-width:1200px) {

    .book-picture-container {
        height: 20rem !important;
        width: 18rem !important;
    }

    .book-picture { 
        height: 17rem;  
    }

    .book-title {
        font-size: 27px !important;
    }
}

@media (max-width:1000px) {

    .book-picture-and-title-container {
        display: flex;
        flex-direction: column;
    }

    .book-picture-container {
        height: 24rem !important;
    }

    .book-picture { 
        height: 20rem;  
    }

    .book-title-author-social-container {
        margin: auto;
        margin-left: 50px !important;
    }

    .book-author-name-container {
        display: flex;
    }
}

@media (max-width: 576px) {
    .book-title-author-social-container {
        margin: auto;
        margin-left: 20px;
    }
}



