@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');


.text-of-recommended-books {
    color: #2b2f3c;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 3rem;
}

.book-card {
    height: 450px;
    width: 16rem !important;
    border: 1px solid #e6e9f1;
    background: linear-gradient(180deg, #eaeee7 40%, #ffffff 40%);
    position: relative;
}

.home-book-pics {
    height: 200px;
    cursor: pointer;
}

.home-book-title { 
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'Noto Sans JP', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.home-author-name {
    color: #1e7b85;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Source Serif 4', serif;
}

.book-price-heart-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-value-of-the-book {
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}

/*
@media (max-width:1200px) {

    .home-book-title-container {
        height: 75px;
    }
}

@media (max-width:992px) {
    .home-add-to-cart-buttons {
        width: 45%;
    }
}

@media (max-width:786px) {
    .home-add-to-cart-buttons {
        width: 60%;
    }
}
 
@media (max-width:576px) {
    .home-add-to-cart-buttons {
        width: 70%;
    }

    .home-book-title-container {
        height: 75px;
        width: 90%;
    }

    .text-of-recommended-books {
        font-size: 40px;
    }
}

@media (max-width:465px) {
    .home-add-to-cart-buttons {
        width: 80%;
    }
}

@media (max-width:365px) {
    .home-add-to-cart-buttons {
        width: 90%;
    }
}
*/


 