@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

.selected-book-add-to-cart-button {
    height: 3rem;
    width: 19rem;
    background-color: #1e7b85 !important;
    color: #ffffff !important;
    font-weight: 500 !important;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px !important;
} 

.selected-book-add-to-cart-button:hover {
    background-color: #155a62 !important; 
} 

.selected-book-cart-icon {
    transform: translateY(-4px);
}

.selected-book-add-to-wishlist-button {
    height: 3rem;
    width: 19rem;
    color: #1e7b85 !important;
    background-color: #ffffff !important;
    border: 1px solid #1e7b85 !important;
    font-weight: 500 !important;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px !important;
}

.selected-book-add-to-wishlist-button:hover {
    border: 2px solid #1e7b85 !important; 
}

.selected-book-not-full-heart-icon {
    transform: translateY(-4px);
}

.selected-book-full-heart-icon {
    transform: translateY(-4px);
}


@media (max-width:1200px) {

    .selected-book-add-to-cart-button {
        height: 2.5rem !important;
        width: 17rem !important;
        font-size: 20px !important;
    } 

    .selected-book-add-to-wishlist-button {
        height: 2.5rem !important;
        width: 17rem !important;
        font-size: 20px !important;
    }
}
