@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.overview-book-details-container {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}

.overview-and-book-deatils-title {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif !important;
}

.description-text {
    font-weight: 500;
    font-family: 'Source Sans 3', sans-serif;
}

.book-details-title {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif !important;
}

