@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.overview-and-book-deatils-title {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
}

.description-text {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 500;
}

.book-details-title {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 500;
}

.costum-table {
    border-collapse: collapse
}

.costum-td {
    paddin-right: 20px !important;
}

