@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.book-picture-container {
    height: 25rem !important;
    width: 22rem !important; 
    background: linear-gradient(180deg, #eaeee7 70%, #ffffff 30%);
}

.book-picture { 
    height: 20rem;  
}

.book-title {
    padding-right: 3rem;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Source Serif 4', serif;
}

.book-author-name-container {
    display: flex;
}

.book-author-name, .share-text { 
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width:1200px) {

    .book-picture-container {
        height: 21rem !important;
        width: 18rem !important; 
    }
    
    .book-picture { 
        height: 16rem;  
    }

    .book-title {
        font-size: 21px;
    }

    .book-author-name {
        font-size: 13px;
    }

    .book-title-author-social-container {
        width: 25rem;
    }
}

@media (max-width: 992px) {

    .book-title {
        font-size: 23px;
    }

    .book-author-name {
        font-size: 15px;
    }
}

@media (max-width: 768px) {

    .book-picture-container {
        height: 15rem !important;
        width: 12rem !important; 
    }

    .book-picture { 
        height: 10rem;  
    }

    .book-title {
        font-size: 17px;
    }

    .book-author-name {
        font-size: 11px;
    }

    .share-container {
        height: 7rem;
    }

    .share-text {
        font-size:12px;
    }

    .share-on-facebook-text, .share-on-twitter-text { 
        font-size: 12px;
    }

}

@media (max-width: 576px) {

    .book-picture-container {
       margin-left: 1rem;
    }
}

@media (max-width: 480px) {

    .book-picture-container {
        height: 11rem !important;
        width: 8rem !important; 
    }

    .book-picture { 
        height: 8rem;  
    }

    .book-title {
        font-size: 13px;
    }

    .book-author-name {
        font-size: 10px;
    }

    .share-text {
        font-size:12px;
        margin-bottom: 7px;
    }
       
}


