@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.book-price-number {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300 !important;
    margin-bottom: 2rem;
}

.selected-book-add-to-cart-button { 
    height: 3rem;
    width: 19rem;
    background-color: #1e7b85 !important;
    color: #ffffff !important;
    font-weight: 500 !important;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px !important;
} 

.selected-book-add-to-cart-button:hover {
    background-color: #155a62 !important; 
} 

.selected-book-cart-icon { 
    transform: translateY(-4px);
}

.selected-book-add-to-wishlist-button {
    height: 3rem;
    width: 19rem;
    color: #1e7b85 !important;
    background-color: #ffffff !important;
    border: 1px solid #1e7b85 !important;
    font-weight: 500 !important;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px !important;
}

.selected-book-add-to-wishlist-button:hover {
    border: 2px solid #1e7b85 !important; 
}

.selected-book-not-full-heart-icon {
    transform: translateY(-4px);
}

.selected-book-full-heart-icon {
    transform: translateY(-4px);
}

@media (max-width:1200px) {
    
    .book-price-number {
        font-size: 33px;
    }

    .selected-book-add-to-cart-button { 
        height: 2.5rem;
        width: 15rem; 
        font-size: 16px !important;
    } 

    .selected-book-add-to-wishlist-button {
        height: 2.5rem;
        width: 15rem;
        font-size: 16px !important;
    }

}

@media (max-width: 768px) {

    .book-price-number-container {
        margin-bottom: -15px;
    }
}