@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;500;600&display=swap');

.book-page {
    padding-top: 100px;
    background-color: #F1F6F9 !important;
    height: 100%;
} 

.search-input-container {
    width: 80% !important;
}

.search-input {
    background-color: #fbfbfb !important;
}

.search-input:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: #212A3E !important;
}

.search-button {
    background-color: #30475f !important;
    z-index:0 !important;
}

.bi {
    color: #EEE9DA;
}

.search-button:hover {
    background-color: #212A3E !important;
}

.name-of-the-list {
    background-color: #212A3E !important;
}

.options-for-filtering {
    background-color: #F1F6F9 !important;
}

.options-for-filtering:hover{
    color: #337ab7 !important;
    background-color: #cfcfcf !important;
    border-radius: 5px;
}

.list-group-item {
    font-family: 'Open Sans', sans-serif;
}

.search-result-books {
    color: #2b2f3c;
    font-family: 'Open Sans', sans-serif; 
    font-size: 25px;
    font-weight: 100;
}

.book-title-container {
    height: 55px; 
    width: 80%;
}

.book-pics {
    cursor: pointer;
}

.book-title { 
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
    font-size: 90%;
    color: black;
    text-decoration: none;
}

.book-title:hover {
    color: #337ab7;
}

.book-add-to-cart-buttons {
    width: 60%;
    height: 2.5rem;
    border: none;
    border-radius: 6px;
    background-color: #30475f ;
    color: #EEE9DA;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.book-add-to-cart-buttons:hover {
    background-color: #212A3E;
}

.select-div {
    width: 90%;
}




@media (max-width:1400px) {
    .book-add-to-cart-buttons {
        width: 75%;
    }

    .book-title-container {
        height: 70px;
    }
}

@media (max-width:992px) {

    .search-input-container {
        width: 90% !important;
    }

    .form-select {
        width: 90% !important;
    }

    .book-add-to-cart-buttons {
        width: 70%;
    }
}

@media (max-width:576px) {

    .book-add-to-cart-buttons {
        width: 85%;
    }

    .book-title-container {
        height: 85px;
    }
}

@media (max-width:476px) {

    .book-add-to-cart-buttons {
        width: 90%;
    }
}

.all-select {
    width: 200px !important;
}
