@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;500;600&display=swap');

.book-page {
    height: 100%;
    padding-top: 100px; 
    background-color: #ffffff;
} 

.result-container {
    height: 20px;
    width: 70%;
}

.search-result-books {
    color: #2b2f3c;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif; 
}

.select-div {
    width: 90%;
}

@media (max-width:1400px) {
    .book-add-to-cart-buttons {
        width: 75%;
    }

    .book-title-container {
        height: 70px;
    }
}

@media (max-width:992px) {

    .search-input-container {
        width: 90% !important;
    }

    .form-select {
        width: 90% !important;
    }

    .book-add-to-cart-buttons {
        width: 70%;
    }
}

@media (max-width:576px) {

    .book-add-to-cart-buttons {
        width: 85%;
    }

    .book-title-container {
        height: 85px;
    }
}

@media (max-width:476px) {

    .book-add-to-cart-buttons {
        width: 90%;
    }
}

.all-select {
    width: 200px !important;
}
