@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;600;700&display=swap');

.selected-book-for-purchase {
    height: 175px;
    width: 100%;
    border: 1px solid #b2b2b2; 
    border-radius: 5px;
    background-color: #FFF;
}

.cart-book-cover-container {
    width: 20%;
}

.cart-book-title-container { 
    width: 50%;
}

.cart-book-price-quantity-container {
    width: 30%;
}

.cart-book-pics {
    margin-left: 20px;
    border: 1px solid #b2b2b2;
    height: 150px;
    filter: drop-shadow(2px 2px 2px );
    cursor: pointer;
}

.cart-book-title { 
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    cursor: pointer;
    font-size: 23px;
    color: black;
    text-decoration: none;
}

.cart-book-title:hover {
    color: black;
}

.cart-book-author-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.cart-book-price {
    color: black;
    font-size: 30px;
    font-weight: 400;
}

.plus-minus-button {
    height: 32px;
    width: 32px;
    border-radius: 6px;
    border: 1px solid #b2b2b2;
    background-color: #FFF;
    color: #353535;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.plus-minus-button:hover, .remove-book-button:hover {
    border: 3px solid #1e7b85;
}

.plus-minus-icon {
    font-size: 20px;
    transform: translateY(-2px);
}

.current-book-number {
    transform: translateY(+3px);
}

.remove-book-button {
    height: 32px;
    width: 32px;
    border-radius: 6px;
    border: 1px solid #b2b2b2; 
    color: #353535;
    background-color: #FFF;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.delete-cart-button {
    height: 2rem;
    width: 10rem;
    border: none;
    color: black;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.delete-cart-button:hover {
    text-decoration: underline;
    color: #1e7b85;
}

@media (max-width:1400px) {
    
    .cart-book-cover-container {
        width: 25%;
    }
    
    .cart-book-title-container {
        width: 35%;
    }
    
    .cart-book-price-quantity-container {
        width: 30%;
    }
}

@media (max-width:1200px) {

    .cart-book-title { 
        font-size: 21px;
    }

    .cart-book-author-name {
        font-size: 17px;
    }

    .cart-book-cover-container {
        width: 20%;
    }
    
    .cart-book-title-container {
        width: 50%;
    }
    
    .cart-book-price-quantity-container {
        width: 30%;
    }
}

@media (max-width:992px) { 

    .cart-book-title { 
        font-size: 18px;
    }

    .cart-book-author-name {
        font-size: 15px;
    }

    .cart-book-cover-container {
        width: 30%;
    }
    
    .cart-book-title-container {
        width: 40%;
    }
    
    .cart-book-price-quantity-container {
        width: 30%;
    }
    
}

@media (max-width:768px) { 

    .cart-book-title { 
        font-size: 15px;
    }

    .cart-book-author-name {
        font-size: 12px;
    }

    .cart-book-cover-container {
        width: 40%;
    }
    
    .cart-book-title-container {
        width: 30%;
    }
    
    .cart-book-price-quantity-container {
        width: 30%;
    }

    .cart-book-price {
        font-size: 20px;
    }
    
    .plus-minus-button {
        height: 28px;
        width: 28px;
    }
    
    .plus-minus-icon {
        font-size: 18px;
    }
    
    .remove-book-button {
        height: 28px;
        width: 28px;
    }
}

@media (max-width:576px) {

    .cart-book-title {
        font-size: 15px;
    }
    .cart-book-author-name {
        font-size: 15px;
    }

}

@media (max-width:476px) {

    .selected-book-for-purchase {
        border: none; 
    }

    .cart-book-pics {
        margin-left: 10px;
    }

    .cart-book-title-container {
        margin-left: -10px;
    }

    .cart-book-pics {
        height: 130px;
    }

    .cart-book-title { 
        font-size: 12px;
    }

    .cart-book-author-name {
        font-size: 10px;
    }

}
    

    