@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;600;700&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.cart-page {
    min-height: 100vh;
    padding-top: 100px;
    background-color: #ffffff !important;
}

.my-cart-text {
    display: inline;
    font-family: 'Open Sans', sans-serif;
}

.my-cart-items-text {
    color: #5d5d5d;
    display: inline;
}



    

