@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;600;700&display=swap');

.shipping-and-delivery-table {
    width: 320px;
    padding: 1rem;
}


.shipping-and-delivery-top-text {  
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
}

.shipping-containers {
    height: 4rem;
}

.shipping-containers p {
    margin: 0;
    padding: 0;
}

.change-shipping-details-button {
    height: 3rem;
    width: 18rem;
    border-radius: 5px;
    border: none;
    color: #ffffff !important;
    background-color: #1e7b85 !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    font-family: 'Open Sans', sans-serif; 
}

.change-shipping-details-button:hover {
    background-color: #155a62 !important; 
} 

@media (max-width: 633px) {

    .change-shipping-details-button {
        font-size: 18px !important;
    }

}

@media (max-width: 480px) {

    .change-shipping-details-button {
        width: 100% !important;
    }

}

