.checkout-page {
    min-height: 100vh;
    padding-top: 120px;
    background-color: #ffffff !important;
}

@media (max-width:992px) {
    .shipping-and-delivery-container {
        margin-bottom: 50px;
    }
}



