.checkout-page {
    min-height: 100vh;
    padding-top: 100px;
    background-color: #ffffff !important;
}

.shipping-and-delivery-container {
    width: 50%;
    border: 2px solid black;
}

.order-summary-container {
    width: 50%;
    /*border: 2px solid black;*/
}