.checkout-page {
    min-height: 100vh;
    padding-top: 120px;
    background-color: #ffffff !important; 
    overflow-x: hidden;
}

.checkout-page-container {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width:1024px) {
    .checkout-page-container {
        display: flex;
        flex-direction: column;
    }

    .shipping-and-delivery-container {
        margin-bottom: 50px;
    }
}




