@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

.send-us-message-text {
    font-family: 'Cinzel', serif;
    color: #1e7b85;
    font-size: 50px;
}

.message-form-container {
    margin-bottom: 2rem;
}

@media (max-width: 576px) {
    
    .message-form-container {
        margin-bottom: 300px !important;
    }
    
}
