@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

.sign-up-page {
    background-color: #ffffff !important;
}

.sign-up-container {
    width: 30rem !important;
}

.sign-up-title {
    color: #1e7b85;
    font-family: 'Source Sans 3', sans-serif;
}

.registration-containers {
    height: 7rem;
    margin-bottom: 30px;
}

.registration-containers-check {
    height: 3.5rem;
}

.registration-inputs-height {
    height: 45px;
}

.label-input-container {
    height: 5rem;
}

.labels {
    font-family: 'Source Sans 3', sans-serif;
}

.custom-radio:checked {
    border-color: #1e7b85 !important;
    background-color: #1e7b85 !important;
}

.custom-radio:focus {
    box-shadow: none !important;
}

.inputs {
    width: 100% !important;
    padding: 10px 5px !important;
}

.inputs:focus { 
    border: 3px solid #1e7b85 !important;
    box-shadow: none !important;
    outline: none !important;
}
 
.invalid {
   border-color: #aa1527 !important;
}

.sign-up-alert-mark {
    color: #aa1527;
    font-weight: 400 !important;
    transform: translateY(2px);
}

.invalid-data-text { 
    color: #aa1527;;
}

.sign-up-button {
    color: #ffffff !important;
    background-color: #1e7b85 !important;
    font-weight: 500 !important;
    font-family: 'Source Sans 3', sans-serif;
}

.sign-up-button:hover {
    background-color: #155a62 !important; 
}

.sign-up-ask {
    font-family: 'Source Sans 3', sans-serif;
}

.sign-up-link {
    color:#1e7b85 !important;
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
}