@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.filtered-book-card {
    height: 24.5rem !important;
    width: 14rem !important;
    margin-right: 10rem !important; 
    border: 1px solid #e6e9f1;
    background: linear-gradient(180deg, #eaeee7 40%, #ffffff 40%);
    position: relative;
}

.filtered-book-pics {
    height: 80%; 
    cursor: pointer; 
}

.filtered-book-title-container {
    height: 3rem;
}

.filtered-book-title { 
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.filtered-book-title:hover {
    color: black;
}

.filtered-author-name {
    color: #1e7b85;
    font-size: 0.7rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.filtered-book-price {
    color: black;
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 992px) {
    .filtered-book-card {
        margin-right: 2rem !important;
    }
}

@media (max-width: 768px) {
    .filtered-book-card {
        margin-right: 3rem !important;
    }
}
@media (max-width: 576px) {

    .filtered-book-card-container {
        display: flex;
        justify-content: center;
    }
}
