@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

.forgot-password-page {
    background-color: #ffffff !important;
}

.forgot-password-container {
    width: 25rem !important;
    border: 1px solid #e6e9f1;
    background-color: #ffffff;
}

.email-input-container {
    height: 5rem;
}

.email-input {
    padding: 10px 5px !important;
}

.email-input:focus {
    border: 3px solid #1e7b85 !important;
    box-shadow: none !important;
    outline: none !important;
}

.forgot-email-alert-mark {
    transform: translateY(-8px);
    color: #aa1527;
}

.forgot-email-alert-message {
    color: #aa1527;
}

.send-email-button {
    color: #ffffff !important;
    background-color: #1e7b85 !important;
    font-weight: 500 !important;
    font-family: 'Source Sans 3', sans-serif;
}

.send-email-button:hover {
    background-color: #155a62 !important; 
}

.back-to-sign-in-link {
    color:#1e7b85 !important;
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
}

.back-to-sign-in-link:hover {
    color: #155a62 !important;
    text-decoration: underline;
}