@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;500;600&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.home-page {
    background-color: #F1F6F9;
}

.discount-font {
    font-family: 'Rubik', sans-serif;
}

.coupon-card{
    background: linear-gradient(135deg, #eef767, #CAC531);
    color: #2b2f3c;
    border-radius: 15px;
    position: relative;
}

.circle1, .circle2{
    background: #F1F6F9;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.circle1{
    left: -25px;
}

.circle2{
    right: -25px;
}

.text-of-recommended-books {
    color: #2b2f3c;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.book-title-container {
    height: 55px;
    width: 80%;
}

.book-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.author-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: small;
}

.value-of-the-book {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.cart-icon {
    transform: translateY(-2px);
}

.home-add-to-cart-buttons {
    width: 55%;
    height: 2.5rem;
    border: none;
    border-radius: 6px;
    background-color: #30475f;
    color: #EEE9DA;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.home-add-to-cart-buttons:hover {
    background-color: #212A3E;
}


@media (max-width:1200px) {
    .home-add-to-cart-buttons {
        width: 65%;
    }
}

@media (max-width:992px) {
    .home-add-to-cart-buttons {
        width: 45%;
    }
}

@media (max-width:786px) {
    .home-add-to-cart-buttons {
        width: 60%;
    }
}
 
@media (max-width:576px) {
    .home-add-to-cart-buttons {
        width: 70%;
    }

    .book-title-container {
        height: 75px;
        width: 90%;
    }

    .text-of-recommended-books {
        font-size: 40px;
    }
}

@media (max-width:465px) {
    .home-add-to-cart-buttons {
        width: 80%;
    }
}

@media (max-width:365px) {
    .home-add-to-cart-buttons {
        width: 90%;
    }
}
 