/*@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;600;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.home-page {
    padding-top: 100px;
    background-color: #ffffff !important;
}

.discount-font {
    font-family: 'Rubik', sans-serif;
}

.coupon-card{
    border-radius: 15px;
    position: relative;
    background: linear-gradient(135deg, #CAC531, #eef767);
    color: #2b2f3c;
}

.circle1, .circle2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #ffffff;
}

.circle1{
    left: -25px;
}

.circle2{
    right: -25px;
}

