@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.discount-font {
    font-family: 'Rubik', sans-serif;
}

.heart-icon {
    transform: translateY(-2px);
}

.add-to-cart-buttons {
    width: 50%;
    height: 2rem;
    background-color: #7fc3e8;
    border: none;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.add-to-cart-buttons:hover {
    background-color: #27a2e4;;
    transition: delay 0.3em;
    font-family: 'Open Sans', sans-serif;
}
/*
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.coupon-code-container {
    margin-top: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 80%;
    border: 1px solid #6096B4;
    border-radius: 30px;
    background-color: #FFFAF0;
}

.coupon-code-picture {
    width: 100%;
    height: auto;
}

img {
    border-radius: 35px;
}
*/