@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

.login-page {
    background-color: #ffffff !important;
    
}

.form-container {
    width: 25rem !important;
}

.login-name-of-the-website {
    color: #1e7b85;
    font-family: 'Cinzel', serif;
    display: inline-block;
}

.book-mania-icon {
    color: #1e7b85;
    transform: translateY(6px);
}

.email-password-container {
    height: 7rem;
}

.email-password-label {
    font-weight: 600 !important;
    font-family: 'Source Sans 3', sans-serif;
}

.email-password-inputs-height {
    height: 45px;
}

.email-password-input {
    padding: 10px 5px !important;
}

.email-password-input:focus { 
    border: 3px solid #1e7b85 !important;
    box-shadow: none !important;
    outline: none !important;
}

.alert-mark {
    color: #aa1527;
    transform: translateY(2px); 
}

.email-input-alert {
    border-color: #aa1527 !important;
}

.alert-message {
    color: #aa1527;
}

.password-container {
    width: 100%;
    position: relative;
    z-index: 0;
}

.eye-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #1e7b85 !important;
    transform: translateY(-5px);
}

.input-alert {
    border-color: #aa1527 !important;
}

.password-help {
    font-size: 12px;
    font-weight: 500;
}

.login-alert-mark {
    color: #aa1527;
    transform: translateY(-2px);
}

.login-button {
    color: #ffffff !important;
    background-color: #1e7b85 !important;
    font-weight: 500 !important;
    font-family: 'Source Sans 3', sans-serif;
}

.login-button:hover {
    background-color: #155a62 !important; 
}

.forgot-password-link {
    color:#1e7b85 !important;
    background-color: #ffffff !important;
    font-family: 'Source Sans 3', sans-serif;
}

.forgot-password-link:hover, .sign-up-link:hover {
    color: #155a62 !important;
    text-decoration: underline;
}

.custom-hr {
    width: 70% !important; /* Szélesség beállítása (pl. 50%) */
    height: 1px; /* Magasság beállítása (pl. 2px) */
    background-color: #8a8a8a; /* Vonal színe */
    margin: 20px auto; /* Középre igazítás */
  }

.ask-account {
    font-family: 'Source Sans 3', sans-serif;
} 

.sign-up-link {
    color:#1e7b85 !important;
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
}

