@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

.login-page {
    background-color: #ffffff !important;
}

.form-container {
    width: 25rem !important;
    border: 1px solid #e6e9f1;
    background-color: #ffffff;
}

.login-name-of-the-website {
    display: inline-block;
    color: #1e7b85;
    font-family: 'Cinzel', serif;
}

.book-mania-icon {
    color: #1e7b85;
    transform: translateY(6px);
}
 
.email-password-container {
    height: 5rem;
}

.email-password-label {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600 !important;
}

.email-password-label:hover {
    text-decoration: underline;
}

.email-password-input {
    padding: 10px 5px !important;
}

.email-password-input:focus { 
    border: 3px solid #1e7b85 !important;
    box-shadow: none !important;
    outline: none !important;
}

.alert-mark {
    transform: translateY(2px);
    color: #aa1527;
}

.email-input-alert {
    border-color: #aa1527 !important;
}

.alert-message {
    color: #aa1527;
}

.password-container {
    width: 100%;
    position: relative;
    z-index: 0;
}

.eye-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #1e7b85 !important;
    transform: translateY(-5px);
}

.input-alert {
    border-color: #aa1527 !important;
}

.password-help {
    font-size: 12px;
    font-weight: 500;
}

.login-alert-mark {
    transform: translateY(-2px);
    color: #aa1527;
}

.login-button {
    background-color: #1e7b85 !important;
    color: #ffffff !important;
    font-weight: 500 !important;
    font-family: 'Source Sans 3', sans-serif;
}

.login-button:hover {
    background-color: #155a62 !important; 
}

.forgot-password-button {
    background-color: #ffffff !important;
    color:#1e7b85 !important;
    font-family: 'Source Sans 3', sans-serif;
}

.forgot-password-button:hover, .sign-up-link:hover {
    color: #155a62 !important;
    text-decoration: underline;
    
}

.ask-account {
    font-family: 'Source Sans 3', sans-serif;
}

.sign-up-link {
    color:#1e7b85 !important;
    text-decoration: none;
    font-family: 'Source Sans 3', sans-serif;
}

