@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.navbar {
    background-color: #f9faff;
    top: 0 !important;
    position: sticky !important;
}

.name-of-the-website {
    color: #1e7b85;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Cinzel', serif;
    display: inline-block;
}

.icon {
    color: #1e7b85;
    font-size: 2rem;  
    transform: translateY(-6px);
}

.navigation-menus {  
    padding: 5px 10px 0px 10px;
    font-weight: 300 !important;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline 0.1em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

.nav-link {
    color: #3b3b3b !important;
    font-size: 1rem !important;
}

.navigation-menus:hover {
    text-decoration-color: #3b3b3b; 
}

.login-logout-button {
    width: 8rem !important;
    border: none !important;
    background-color: #f9faff;

}

.cart-content-value {
    background-color: #1e7b85 !important;
}



