@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.navbar {
    /*background-color: #6096B4;*/
    background-color: #212A3E;
    position: sticky !important;
    top: 0 !important;
}

.name-of-the-website {
    font-family: 'Cinzel', serif;
    display: inline-block;
    font-size: 1.5rem;
    color: #D6D5A8;
}

.navigation-menus {  
    color: #EEE9DA;
    padding: 5px 10px 0px 10px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline 0.2em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

.navigation-menus:hover {
    text-decoration-color: #EEE9DA; 
}

.icon {
    transform: translateY(-3px);
    font-size: 1.5rem;  
    color: #D6D5A8;
}

.logout-button {
    background-color:#2b2f3c;
    border: 2px solid #EEE9DA;
    border: none;
    width: 6rem;
    font-size: 1rem; 
}


