@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;600;700&display=swap');

.paying-container {
    max-height: 100%;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    background-color: #FFF;
}

.order-summary-text {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

.subtotal-items-text {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.total-text {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.total-price-in-number {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

.discount-text {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.discount-percentage {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

.discounted-price-text {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.discounted-price {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

.coupon-question {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.coupon-code-input-container {
    height: 40px;
}

.coupon-code-input:focus {
    border: 2px solid #1e7b85 !important;
    box-shadow: none !important;
    /*outline: none !important;*/
}

.add-coupon-code-button {
    color: #1e7b85 !important;
    font-weight: 600 !important;
    border: 2px solid #1e7b85 !important;
    background-color: #ffffff !important;
}

.add-coupon-code-button:hover {
    color: #ffffff !important;
    background-color: #1e7b85 !important; 
}

.payment-button {
    height: 3rem;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #ffffff !important;
    background-color: #1e7b85 !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    font-family: 'Open Sans', sans-serif; 
}

.payment-button:hover {
    background-color: #155a62 !important; 
}
 
@media (max-width:768px) {
    .paying-container {
        width: 95% !important;
    }
}