@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;500;600&display=swap');

.selected-book-page {
    height: 100vh; 
    background-color: #ffffff;
}

@media (max-width: 992px) { 

    .selected-book-picture-data-price-buttons-container { 
        flex-direction: column;
        padding-inline: 30px !important;
    }

    .selected-book-picture-and-title {
        margin-bottom: -1.5rem; 

    }

    .selected-book-price-and-buttons { 
        display: flex;
        justify-content: center;
        margin-left: 4rem;
    }
}

@media (max-width: 768px) { 

    .selected-book-picture-data-price-buttons-container {
        margin-bottom: 1rem;
        padding-inline: 0px !important;
    }

    .selected-book-picture-and-title {
        margin-bottom: -1.5rem;
    }

    .selected-book-price-and-buttons {
        display: flex;
        justify-content: center;
        margin-left: 0rem;
        margin-bottom: 1rem;
    }

}
