@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;500;600&display=swap');

.selected-book-page {
    height: 100vh; 
    background-color: #ffffff;
}

.selected-book-picture-data-price-buttons-container {
    display: flex;
}

.selected-book-picture-and-title {
    width: 70%; 
}

.selected-book-price-and-buttons {
    width: 30%;
}


@media (max-width: 1000px) { 

    .selected-book-picture-data-price-buttons-container {
        flex-direction: column !important;
    }

    .selected-book-picture-and-title {
        width: 100%;
    }

    .selected-book-price-and-buttons {
        width: 100%;
        margin-left: 50px;
    }

}

