@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(171,176,192, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;     
}

.register-modal-container {
    height: 20rem;
    width: 20rem;
    margin-top: 15rem !important;
    margin: auto;
    background-color: aliceblue;
}

.successfulRegistration-svg {
    height: 8rem;
    width: 8rem;
    display: block;
    color: #1e7b85;
  }
  
.circle {
    stroke-dasharray: 76;
    stroke-dashoffset: 76;
    animation: draw 1s forwards;
  }
  
.tick {
    stroke-dasharray: 18;
    stroke-dashoffset: 18;
    animation: draw 1s forwards 1s;
  }
  
@keyframes draw {  
    to { stroke-dashoffset: 0 } 
}

.successful-registration-modal-text {
    font-family: 'Source Sans 3', sans-serif;
}

.navigate-to-home {
    background-color: #1e7b85 !important;
    color: #ffffff !important;
    width: 100%;
}

.navigate-to-home:hover {
    background-color: #19646c !important;
}
